@page "/bücherei/admin"
@using BlazorDownloadFile
@using System.Threading
@inject IBlazorDownloadFileService BlazorDownloadFile
@if (SessionState.Authenticated)
{
    <h3>AdminUi</h3>
    <div class="row">
        <div>
            <RadzenDatePicker TValue="DateTime?" Inline="true" Change="DateChange" Value="Date" DateRender="DateRender"></RadzenDatePicker>
        </div>
        <div class="col-md-2">
            <RadzenCheckBox @bind-Value=@Dict.Enabled  TValue="bool" Change="EnabledChange" />
            <RadzenLabel Text="Anmeldungen erlaubt" Component="CheckBox1" Style="margin-left: 5px;" />
            <RadzenDataList WrapItems="true" AllowPaging="true" Data="Dict" TItem="KeyValuePair<DateTime, Entry>">
                <Template Context="item">
                    <RadzenCard>
                        <div class="row">
                            <div class="col-md-6">
                                <div>Zeit:</div><b>@item.Key.ToLongTimeString()</b><br/>
                                <div>Name:</div><b>@item.Value.Name</b><br/>
                                <div>Telefonnummer:</div><b>@item.Value.PhoneNumber</b><br/>
                            </div>
                            <div class="col-md-6">
                                <RadzenButton Text="Löschen" ButtonStyle="ButtonStyle.Danger" Click="@(() => Dict.Remove(item.Key))"></RadzenButton>
                            </div>
                        </div>
                    </RadzenCard>
                </Template>
            </RadzenDataList>
            @if (Dict.Count > 0)
            {
                <br>
                <RadzenButton Text="Tag exportieren" Click="Export"></RadzenButton>
                <RadzenButton Text="Tag Löschen" Click="@(() => Directory.Delete(DbUtil.Entries.Get(Date).Dir, true))" ButtonStyle="ButtonStyle.Danger"></RadzenButton>
            }
            <br>
            <RadzenButton Text="Beenden" Click="Cancel"></RadzenButton>
        </div>
    </div>
}

@code {
    private DateTime? _date;
    DatabaseDayDict Dict => DbUtil.Entries.Get(Date);
    private DateTime Date
    {
        get => (_date ??= DbUtil.NextVisibleAdmin(DateTime.Today)).Date;
        set => _date = DbUtil.NextVisibleAdmin(value);
    }

    void DateChange(DateTime? date) => Date = date ?? DateTime.Now.Date;
    void DateRender(DateRenderEventArgs args)
    {
        args.Disabled = !DbUtil.DateVisibleAdmin(args.Date);
        if (!args.Disabled)
        {
            DatabaseDayDict db = DbUtil.Entries.Get(args.Date.Date);
            if (!db.Enabled)
                args.Attributes.Add("style", "background-color: red; border-color: white;");
            else if (db.Any())
                args.Attributes.Add("style", "background-color: #ff6d41; border-color: white;");
        }
    }

    void EnabledChange(bool value) => Dict.Enabled = value;

    void Cancel(MouseEventArgs args) => Nav.NavigateTo("/bücherei");
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!SessionState.Authenticated)
            Nav.NavigateTo("/bücherei/login");
    }

    async Task Export()
    {
        DatabaseDayDict d = DbUtil.Entries.Get(Date);
        await using Stream file = await DbExport.Export(d);
        await BlazorDownloadFile.DownloadFile($"export-{Path.GetFileName(d.Dir)}.xlsx",
            file, new CancellationToken(), new CancellationToken(),
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");
    }
}