@page "/bücherei/completed"
<h3>Eintragung abgeschlossen</h3>
<p><b>Datum: </b>@SessionState.CurrentEntry.Key.ToLongDateString()</p>
<p><b>Uhrzeit: </b>@SessionState.CurrentEntry.Value.Key.ToLongTimeString()</p>
<p><b>Ihr Name: </b>@SessionState.CurrentEntry.Value.Value.Name</p>
<p><b>Ihre Telefonnummer: </b>@SessionState.CurrentEntry.Value.Value.PhoneNumber</p>
<p><RadzenButton Text="Neuer Eintrag" Click="SubmitNew"></RadzenButton></p>

@code {
    void SubmitNew(MouseEventArgs args)
    {
        Nav.NavigateTo("/bücherei");
    }
}