﻿@page "/"
@page "/bücherei"

<div class="row">
    <div class="col-xl-6">
        <RadzenSteps>
            <Steps>
                <RadzenStepsItem Text="Datum">
                    <RadzenDatePicker TValue="DateTime?" Inline="true" Change="DateChange" Value="Date" DateRender="DateRender"></RadzenDatePicker>
                </RadzenStepsItem>
                <RadzenStepsItem Text="Zeit">
                    <p>@Date.ToLongDateString()</p>
                    <p>
                        <RadzenListBox @bind-Value="@Time" Data="@_times">
                            <Template>
                                <div style="@(context == Time ? "color: lightgreen;" : "")">@context</div>
                            </Template>
                        </RadzenListBox>
                    </p>
                </RadzenStepsItem>
                <RadzenStepsItem Text="Details">
                    <p>@Time</p>
                    @if (_error != null)
                    {
                        <p>@_error</p>
                    }
                    <p>
                        <RadzenTextBox Placeholder="Name" Change="@(s => Name = s)" Value="@Name"></RadzenTextBox>
                        <RadzenTextBox Placeholder="Telefonnummer" Change="@(s => PhoneNumber = s)" Value="@PhoneNumber"></RadzenTextBox>
                        <RadzenButton Text="OK" Click="Submit"></RadzenButton>
                    </p>
                </RadzenStepsItem>
            </Steps>
        </RadzenSteps>
    </div>
</div>

@code {
    private DateTime? _date;
    private DateTime? _time;
    private string _error = null;
    private IEnumerable<DateTime> _times;
    private DateTime Date
    {
        get
        {
            if (_date == null)
            {
                Date = DbUtil.NextVisible(DateTime.Today);
            }
            return _date.Value.Date;
        }
        set
        {
            _date = DbUtil.NextVisible(value);
            _times = TimesGetter.GetTimesAvailable(Date);
        }
    }

    private DateTime Time
    {
        get => _time ??= _times.First();
        set => _time = value;
    }

    private string Name { get; set; } = "";
    private string PhoneNumber { get; set; } = "";

    void DateChange(DateTime? date) => Date = date ?? DateTime.Now.Date;
    void DateRender(DateRenderEventArgs args) => args.Disabled = !DbUtil.DateVisible(args.Date);

    void Submit(MouseEventArgs args)
    {
        if (Name.Length < 5 || PhoneNumber.Length < 4)
        {
            _error = Name.Length < 5 ?
                "Der angegebene Name ist zu kurz (Vorname + Nachname)" :
                "Die angegebene Telefonnummer ist zu kurz. Geben sie bitte ihre komplette Telefonnummer an";
            return;
        }
        lock (DbUtil.Entries)
        {
            Entry e = new() {Name = Name, PhoneNumber = PhoneNumber};
            DbUtil.Entries.Get(Date).Add(Time, e);
            SessionState.CurrentEntry = new KeyValuePair<DateTime, KeyValuePair<DateTime, Entry>>(Date,
                new KeyValuePair<DateTime, Entry>(Time, e));
            DbUtil.Entries.Clean();
        }
        Nav.NavigateTo("/bücherei/completed");
    }
}