@page "/bücherei/login"
<h3>Login</h3>
@if (LoginFailed)
{
    <p>Login fehlgeschlagen, probieren sie es erneut!</p>
}
<RadzenPassword Placeholder="Passwort" Change="@(s => Password = s)" Value="@Password"></RadzenPassword>
<RadzenButton Text="OK" Click="Submit"></RadzenButton>
<RadzenButton Text="Abbrechen" Click="Cancel"></RadzenButton>

@code {
    string Password { get; set; }
    bool LoginFailed = false;

    void Submit(MouseEventArgs args)
    {
        SessionState.AuthHash = SessionState.Hash(Password);
        if (SessionState.Authenticated)
            Nav.NavigateTo("/bücherei/admin");
        else
            LoginFailed = true;
    }

    void Cancel(MouseEventArgs args)
    {
        Nav.NavigateTo("/bücherei");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (SessionState.Authenticated)
            Nav.NavigateTo("/bücherei/admin");
    }
}