﻿@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="/bücherei/login">Admin</a>
            <a href="https://gitlab.com/kirchewds/buecherei" target="_blank">Quelle</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>